flows (3).json
[
    {
        "id": "22b86d87b5a6e0c4",
        "type": "tab",
        "label": "JackSkelinhton",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ffc60f45da125b0",
        "type": "debug",
        "z": "22b86d87b5a6e0c4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "df2d6603170d80ff",
        "type": "mqtt in",
        "z": "22b86d87b5a6e0c4",
        "name": "",
        "topic": "gds0643/jfrg/main",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "104d51bc9d218181",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "4ffc60f45da125b0"
            ]
        ]
    },
    {
        "id": "abaf6c07338c7852",
        "type": "ui_switch",
        "z": "22b86d87b5a6e0c4",
        "name": "",
        "label": "IluminacionC",
        "tooltip": "Adios",
        "group": "7c799c4eaec7e007",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "luz",
        "topicType": "str",
        "style": "",
        "onvalue": "hola",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "adios",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "1a9c85d0cf96e4af"
            ]
        ]
    },
    {
        "id": "1a9c85d0cf96e4af",
        "type": "mqtt out",
        "z": "22b86d87b5a6e0c4",
        "name": "Adios",
        "topic": "gds0643/jfrg/main",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "104d51bc9d218181",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "f270532ed24c332f",
        "type": "ui_button",
        "z": "22b86d87b5a6e0c4",
        "name": "",
        "group": "7c799c4eaec7e007",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Musica",
        "tooltip": "musica",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "musica",
        "payloadType": "str",
        "topic": "musica",
        "topicType": "msg",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "952f52cbf7ab84ac"
            ]
        ]
    },
    {
        "id": "952f52cbf7ab84ac",
        "type": "mqtt out",
        "z": "22b86d87b5a6e0c4",
        "name": "Musica",
        "topic": "gds0643/jfrg/main",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "104d51bc9d218181",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "9f645eb04a045a6a",
        "type": "mqtt out",
        "z": "22b86d87b5a6e0c4",
        "name": "MatrizLed",
        "topic": "gds0643/jfrg/texto",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "104d51bc9d218181",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "10d5b4b975917345",
        "type": "ui_text_input",
        "z": "22b86d87b5a6e0c4",
        "name": "",
        "label": "Mensaje...",
        "tooltip": "",
        "group": "7c799c4eaec7e007",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "mensaje",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "9f645eb04a045a6a"
            ]
        ]
    },
    {
        "id": "1f10f2125060b793",
        "type": "ui_text",
        "z": "22b86d87b5a6e0c4",
        "group": "7c799c4eaec7e007",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control Iluminacion",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Tahoma,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#ff0000",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "b165d2d974a95eaa",
        "type": "ui_text",
        "z": "22b86d87b5a6e0c4",
        "group": "7c799c4eaec7e007",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control Musica",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Tahoma,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#ff0000",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "bdfc951b73c53909",
        "type": "ui_text",
        "z": "22b86d87b5a6e0c4",
        "group": "7c799c4eaec7e007",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control Matriz",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Tahoma,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#ff0000",
        "x": 220,
        "y": 240,
        "wires": []
    },
    {
        "id": "104d51bc9d218181",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c799c4eaec7e007",
        "type": "ui_group",
        "name": "Jack Skelington",
        "tab": "162974d7bc9050ee",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "162974d7bc9050ee",
        "type": "ui_tab",
        "name": "Comunicacion",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": false
    }
]